/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: px;
  background: #c9cacc;
}

body::-webkit-scrollbar-track:hover {
  background: #78797a;
}

body::-webkit-scrollbar-thumb {
  background: #3d5585; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #01143b; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  width: full;
  height: full;
}

.bg-console-col{
  background: #1D283A;
}

.container .c1 {
  width: 35%;
  display: flex;
  justify-content: center;
}

.container .c1 img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
} 

.container .c2 {
  width: 65%;
  height: full;
  padding: 0px 20px;
  font-weight: 500;
}

.c2 h2 {
  font-size: 40px;
  margin-bottom: 1rem;
}

.c2 p {
  color: #787878;
  font-size: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.skillbox {
  display: flex;
  width: 100%;
  height: 80vh;
  padding: 2rem;
}

.lBox {
  width: 35%;
  text-align: center;
}

.rBox {
  width: 65%;
  text-align: center;
}

.toolBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-top: 1.5rem;;
}

.icon {
  display: flex;
  justify-content: space-around;  
  cursor: pointer;
  align-items: center;
  width: 190px;
  height: 64px;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 10px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon img {
  width: 46px;
  height: 46px;
}

.field {
  width: 100%;
  overflow: hidden;
  height: 7em;
}

.fieldBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 68px 0;
}

.fade-left {
  animation: fade-l 2s ease-in-out;
}

.fade-down {
  animation: fade-d 1s linear;
}

.movingText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin: 40px 0;
  line-height: 70px;
}

.runningText-l {
  display:inline-block;
  position: absolute;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  height: 84px;
  width: max-content;
}

.lang-row {
  display:inline-block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 0;
  animation: move-left linear 8s infinite;
  transition: unset;
}

.stack {
  display:inline-block;
  position: relative;
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  margin: 0 10px;
}

.h-box {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  vertical-align: middle;
}

.hands-light {
  background-color: rgb(240, 223, 205);
  height: 100vh;
  padding-top: 4rem;
}

.hands-dark {
  background-color: rgb(78, 74, 70);
  height: 100vh;
  padding-top: 4rem;
  color: white;
}

.editor-light {
  background-color: rgb(204, 209, 235);
  height: 100vh;
  padding-top: 4rem;
}

.editor-dark {
  background-color: rgb(15, 4, 60);
  height: 100vh;
  padding-top: 4rem;
  color: white;
}

@keyframes move-left {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes fade-l {
  0%{
    transform: translateX(-3%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-d {
  0%{
    transform: translateY(10%);
    opacity: 1;
  }
  50%{
    transform: translateY(-2%);
    opacity: 1;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}